In [ ]:
# !pip install plotly

In [3]:
#Importando Bibliotecas
import pandas as pd
import plotly.express as px

In [ ]:
# Importar Base de Dados
tabela = pd.read_csv('telecom_users.csv')

# Visualizar Base de Dados
print(tabela)

In [5]:
# Tratamento de Dados
# remover coluna inutil
# axis = 0 -> linha
# axis = 1 -> coluna
tabela = tabela.drop('Unnamed: 0', axis=1)
print(tabela)

       IDCliente     Genero  Aposentado Casado Dependentes  MesesComoCliente  \
0     7010-BRBUU  Masculino           0    Sim         Sim                72
1     9688-YGXVR   Feminino           0    Nao         Nao                44
2     9286-DOJGF   Feminino           1    Sim         Nao                38
3     6994-KERXL  Masculino           0    Nao         Nao                 4
4     2181-UAESM  Masculino           0    Nao         Nao                 2
...          ...        ...         ...    ...         ...               ...
5981  0684-AOSIH  Masculino           0    Sim         Nao                 1
5982  5982-PSMKW   Feminino           0    Sim         Sim                23
5983  8044-BGWPI  Masculino           0    Sim         Sim                12
5984  7450-NWRTR  Masculino           1    Nao         Nao                12
5985  4795-UXVCJ  Masculino           0    Nao         Nao                26

     ServicoTelefone MultiplasLinhas ServicoInternet ServicoSegurancaOnline  \
0                Sim             Sim             Nao            SemInternet
1                Sim             Nao           Fibra                    Nao
2                Sim             Sim           Fibra                    Nao
3                Sim             Nao             DSL                    Nao
4                Sim             Nao             DSL                    Sim
...              ...             ...             ...                    ...
5981             Sim             Nao           Fibra                    Sim
5982             Sim             Sim             DSL                    Sim
5983             Sim             Nao             Nao            SemInternet
5984             Sim             Sim           Fibra                    Nao
5985             Sim             Nao             Nao            SemInternet

      ... ServicoSuporteTecnico ServicoStreamingTV ServicoFilmes TipoContrato  \
0     ...           SemInternet        SemInternet   SemInternet       2 anos
1     ...                   Nao                Sim           Nao       Mensal
2     ...                   Nao                Nao           Nao       Mensal
3     ...                   Nao                Nao           Sim       Mensal
4     ...                   Nao                Nao           Nao       Mensal
...   ...                   ...                ...           ...          ...
5981  ...                   Nao                Sim           Sim       Mensal
5982  ...                   Sim                Sim           Sim       2 anos
5983  ...           SemInternet        SemInternet   SemInternet       Mensal
5984  ...                   Nao                Sim           Sim       Mensal
5985  ...           SemInternet        SemInternet   SemInternet        Anual

     FaturaDigital    FormaPagamento ValorMensal TotalGasto  Churn Codigo
0              Nao     CartaoCredito       24.10    1734.65    Nao    NaN
1              Sim     CartaoCredito       88.15     3973.2    Nao    NaN
2              Sim  DebitoAutomatico       74.95    2869.85    Sim    NaN
3              Sim  BoletoEletronico       55.90      238.5    Nao    NaN
4              Nao  BoletoEletronico       53.45      119.5    Nao    NaN
...            ...               ...         ...        ...    ...    ...
5981           Sim  BoletoEletronico       95.00         95    Sim    NaN
5982           Sim     CartaoCredito       91.10     2198.3    Nao    NaN
5983           Sim  BoletoEletronico       21.15     306.05    Nao    NaN
5984           Sim  BoletoEletronico       99.45    1200.15    Sim    NaN
5985           Nao     CartaoCredito       19.80      457.3    Nao    NaN

[5986 rows x 22 columns]

In [7]:
# Valores reconhecidos de forma errada
# object -> texto
# int -> numero inteiro | float -> numero com casa decimal
# print(tabela.info())

# Casting text for float
tabela['TotalGasto'] = pd.to_numeric(tabela['TotalGasto'], errors='coerce')
print(tabela.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5986 entries, 0 to 5985
Data columns (total 22 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   IDCliente               5986 non-null   object
 1   Genero                  5986 non-null   object
 2   Aposentado              5986 non-null   int64
 3   Casado                  5986 non-null   object
 4   Dependentes             5985 non-null   object
 5   MesesComoCliente        5986 non-null   int64
 6   ServicoTelefone         5986 non-null   object
 7   MultiplasLinhas         5986 non-null   object
 8   ServicoInternet         5986 non-null   object
 9   ServicoSegurancaOnline  5986 non-null   object
 10  ServicoBackupOnline     5986 non-null   object
 11  ProtecaoEquipamento     5986 non-null   object
 12  ServicoSuporteTecnico   5986 non-null   object
 13  ServicoStreamingTV      5986 non-null   object
 14  ServicoFilmes           5986 non-null   object
 15  TipoContrato            5986 non-null   object
 16  FaturaDigital           5986 non-null   object
 17  FormaPagamento          5986 non-null   object
 18  ValorMensal             5986 non-null   float64
 19  TotalGasto              5976 non-null   float64
 20  Churn                   5985 non-null   object
 21  Codigo                  0 non-null      float64
dtypes: float64(3), int64(2), object(17)
memory usage: 1.0+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5986 entries, 0 to 5985
Data columns (total 22 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   IDCliente               5986 non-null   object
 1   Genero                  5986 non-null   object
 2   Aposentado              5986 non-null   int64
 3   Casado                  5986 non-null   object
 4   Dependentes             5985 non-null   object
 5   MesesComoCliente        5986 non-null   int64
 6   ServicoTelefone         5986 non-null   object
 7   MultiplasLinhas         5986 non-null   object
 8   ServicoInternet         5986 non-null   object
 9   ServicoSegurancaOnline  5986 non-null   object
 10  ServicoBackupOnline     5986 non-null   object
 11  ProtecaoEquipamento     5986 non-null   object
 12  ServicoSuporteTecnico   5986 non-null   object
 13  ServicoStreamingTV      5986 non-null   object
 14  ServicoFilmes           5986 non-null   object
 15  TipoContrato            5986 non-null   object
 16  FaturaDigital           5986 non-null   object
 17  FormaPagamento          5986 non-null   object
 18  ValorMensal             5986 non-null   float64
 19  TotalGasto              5976 non-null   float64
 20  Churn                   5985 non-null   object
 21  Codigo                  0 non-null      float64
dtypes: float64(3), int64(2), object(17)
memory usage: 1.0+ MB
None

In [8]:
# Tratar valores vazios
tabela = tabela.dropna(how="all", axis=1)  # excluir as colunas vazias
tabela = tabela.dropna(how="any", axis=0)  # excluir as linhas vazias
print(tabela.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5974 entries, 0 to 5985
Data columns (total 21 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   IDCliente               5974 non-null   object
 1   Genero                  5974 non-null   object
 2   Aposentado              5974 non-null   int64
 3   Casado                  5974 non-null   object
 4   Dependentes             5974 non-null   object
 5   MesesComoCliente        5974 non-null   int64
 6   ServicoTelefone         5974 non-null   object
 7   MultiplasLinhas         5974 non-null   object
 8   ServicoInternet         5974 non-null   object
 9   ServicoSegurancaOnline  5974 non-null   object
 10  ServicoBackupOnline     5974 non-null   object
 11  ProtecaoEquipamento     5974 non-null   object
 12  ServicoSuporteTecnico   5974 non-null   object
 13  ServicoStreamingTV      5974 non-null   object
 14  ServicoFilmes           5974 non-null   object
 15  TipoContrato            5974 non-null   object
 16  FaturaDigital           5974 non-null   object
 17  FormaPagamento          5974 non-null   object
 18  ValorMensal             5974 non-null   float64
 19  TotalGasto              5974 non-null   float64
 20  Churn                   5974 non-null   object
dtypes: float64(2), int64(2), object(17)
memory usage: 1.0+ MB
None

In [ ]:
# Analise Inicial
print(tabela['Churn'].value_counts())
print(tabela['Churn'].value_counts(normalize=True).map(
    '{:.1%}'.format))  # Formatado em Porcentagem